[run]
source = .
omit =
    */migrations/*
    */tests/*
    */test_*.py
    */__pycache__/*
    */env/*
    */venv/*
    */classification_env/*
    manage.py
    */asgi.py
    */wsgi.py
    */apps.py
    */admin.py
    setup.py
    */site-packages/*

[report]
precision = 2
show_missing = True
skip_covered = False
exclude_lines =
    pragma: no cover
    def __repr__
    def __str__
    raise AssertionError
    raise NotImplementedError
    if __name__ == .__main__.:
    if TYPE_CHECKING:
    @abstract
    @abstractmethod

[html]
directory = htmlcov

[xml]
output = coverage.xml
