{% extends 'base.html'%}
    {% block content%}
    {% if messages %}
        {% for message in messages %}
         {% if message.tags %}  <script>alert("{{ message }}")</script> {% endif %}

        {% endfor %}

    {% endif %}
    <div style="background: url('/media/bg2.jpg'); background-repeat:no-repeat;background-size:cover;  height:750px; width: 100%;">
    <div class="col-md-12">
        <br>
        <div class="container" style="width: 50%;background-color:white;">
   <h2 style="color:black;text-align:center;">Test Based on video 3</h2><br>
  <div class="col-md-12">
    <div class="row">
      <form  action='/videotest3/'  method="POST"  enctype="multipart/form-data">
        {% csrf_token %}
      <div class="col-md-12">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com" name="var1">
            <label for="floatingInput">1. Who is the lazy boy?</label>
        </div>
      </div>
      <br>
     <div class="col-md-12">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com" name="var2">
            <label for="floatingInput">2. From whom does Arjun receive the call?</label>
        </div>
      </div>
      <br>
      <div class="col-md-12">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com" name="var3">
            <label for="floatingInput">3. In which competition Arjun won the first prize
            ?</label>
        </div>
      </div>
      <br>
      <div class="col-md-12">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com" name="var4">
            <label for="floatingInput">4. When was Arjun asked to collect the prize?</label>
        </div>
      </div>
      <br>
        <div class="col-md-12">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com" name="var5">
            <label for="floatingInput">5. What prize Arjun received from the school?</label>
        </div>
      </div>
      </div>

    </div>

  <br>

  <div id="formFooter">
    <center><button type="submit"  class = "btn btn-danger">Submit</button></center>
  </div>
  <br>
    </div>
 </form>
 <br>


     <div class="row">
 
    <div class="col-md-12">
        <div class="col-md-1">
<a href="/ScenariosTest/" class="" style="color:black;font-size:40px">Back</a>
                    </div>
                </div>
            </div>
</div>





     <div class="row">
 
    <div class="col-md-12">
        <div class="col-md-1">
<a href="/ScenariosTest/" class="" style="color:black;font-size:40px">Back</a>
                    </div>
                </div>
            </div>
                 



        </div>

{% endblock %}